@import "https://unpkg.com/open-props";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.jumbo{
    background-image: url(../Assets/jumboimage.jpg);
    object-fit: contain;
    background-clip: content-box;
    background-size:cover
    
}
.overlay{
    background: rgba(0,0,0,0.4);
    text-align: center;
    height: 100%;
    transition: opacity 0.25s ease 0s;
    padding: 124px;
}

.mygrid{
    grid-auto-columns: 40%;
    overscroll-behavior-inline: contain;
    grid-template-rows: min-content;
}

.snapper{
    scroll-snap-type: inline mandatory;
}

.snapper > *{
    scroll-snap-align: start;
}
.content-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50vw;
    overflow: auto;
}
.myflex{
    display: flex;
    flex-direction: row;
  
}
.testflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon{
    transition: 1s ease-in-out;
}